$token-base-primary-pink-value: #EF5DA8;
$token-base-secondary-pink-value: #F178B6;
$token-base-secondary-purple-value: #7879F1;
$token-base-light-pink-value: #FCDDEC;
$token-base-primary-purple-value: #5D5FEF;
$token-base-light-purple-value: #A5A6F6;
$token-base-primary-green-value: #0aa868;
$token-base-gray-value: #888;
$token-base-primaryGreen-value: #489e6a;
$token-button-background-value: {base.primary-pink};
$token-button-text-value: {base.light-pink};
$token-headding-value-fontFamily: Arial;
$token-headding-value-fontWeight: Bold;
$token-headding-value-fontSize: 40;
$button-button-primary-background-value: {base.primary-green};
$button-button-primary-text-value: {base.gray};
$font-Akaya-value-fontFamily: Akaya Telivigala;
$font-Actor-value-fontFamily: Actor;
$$metadata-tokenSetOrder-0: token;
$$metadata-tokenSetOrder-1: button;
$$metadata-tokenSetOrder-2: font;
