$base-primary-60-value: #fcddec;
$base-primary-80-value: #f178b6;
$base-primary-100-value: #ef5da8;
$base-secondary-60-value: #a5a6f6;
$base-secondary-80-value: #7879f1;
$base-secondary-100-value: #5d5fef;
$Headding1-value-fontFamily: Arial;
$Headding1-value-fontWeight: Bold;
$Headding1-value-fontSize: 64;
$Headding2-value-fontFamily: Arial;
$Headding2-value-fontWeight: Bold;
$Headding2-value-fontSize: 56;
$Headding3-value-fontFamily: Arial;
$Headding3-value-fontWeight: Bold;
$Headding3-value-fontSize: 48;
