$Token-base-primary-60-value: #fcddec;
$Token-base-primary-80-value: #f178b6;
$Token-base-primary-100-value: #ef5da8;
$Token-base-secondary-60-value: #a5a6f6;
$Token-base-secondary-80-value: #7879f1;
$Token-base-secondary-100-value: #5d5fef;
$Token-Headding1-value-fontFamily: Arial;
$Token-Headding1-value-fontWeight: Bold;
$Token-Headding1-value-fontSize: 64;
$Token-Headding2-value-fontFamily: Arial;
$Token-Headding2-value-fontWeight: Bold;
$Token-Headding2-value-fontSize: 56;
$Token-Headding3-value-fontFamily: Arial;
$Token-Headding3-value-fontWeight: Bold;
$Token-Headding3-value-fontSize: 48;
$$metadata-tokenSetOrder-0: Token;
